body > header {
    padding: 0;
}
  
textarea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none; /* Disable manual resizing */
}

ul.entry-list {
    list-style-type: none;
    padding: 0;
}

ul.entry-list li {
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

pre {
    white-space: pre-wrap;
}

button.delete {
    background-color: #C70039;
    border-color:  #C70039;
}

button.delete:hover {
    background-color:  #900C3F;
    border-color:   #900C3F;
}

@media (prefers-color-scheme: dark) {
    button.delete {
        background-color: red;
        border-color:  red;
    }

    button.delete:hover {
        background-color:  crimson;
        border-color:   crimson;
    }
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.entry {
    padding: 0 1.5rem;
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 8px;
    margin: 2rem 0;
    font-family: var(--mono-font);
}

span.disabled {
    opacity: 0.3;
}

.inline {
    display: flex;
    gap: 20px; /* Adds spacing between mood and tags */
    align-items: flex-start;
    width: 100%; /* Ensures the full width is used */
    padding-bottom: 1rem;
}

.inline div {
    display: flex;
    flex-direction: column; /* Stacks label and input/select vertically */
    flex: 1; /* Allows the divs to grow */
}

.inline select {
    flex: 0 1 auto; /* Keeps dropdown at its natural width */
}

.inline input {
    flex: 1; /* Takes up remaining space */
    min-width: 150px; /* Ensures it doesn't shrink too much */
    width: 100%; /* Ensures it expands within the div */
}

hr {
    margin: 3rem auto 4rem auto;
    max-width: 80%;
}

h2 {
    font-size: 2rem;
}

.tag-cloud a {
    font-size: 1.25rem !important;
    margin: 5px;
    display: inline-block;
}

.tag-cloud a::before {
    content: "#";
}

.delete-container {
    display: flex;
    justify-content: flex-end;
}
